.features-boxed {
  color: #313437;
  background-color: rgba(238,244,247,0);
}

.features-boxed p {
  color: #7d8285;
}

.features-boxed h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

@media (max-width:767px) {
  .features-boxed h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.features-boxed .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto;
}

.features-boxed .intro p {
  margin-bottom: 0;
}

.features-boxed .features {
  padding: 65px 0;
}

.features-boxed .item {
  text-align: center;
}

.features-boxed .item .box {
  text-align: center;
  padding: 30px;
  background-color: rgba(255,255,255,0.5);
  margin-bottom: 30px;
}

.features-boxed .item .icon {
  font-size: 60px;
  color: #eac61c;
  margin-top: 20px;
  margin-bottom: 35px;
}

.features-boxed .item .name {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 8px;
  margin-top: 0;
  color: inherit;
}

.features-boxed .item .description {
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 20px;
}

@media (min-width: 1200px) {
  .box {
    height: 364px;
  }
}

@media (max-width: 1200px) {
  .box {
    height: 386px;
  }
}

.learn-more {
  text-decoration: none;
  font-weight: 600!important;
  color: #eac61c;
}

.learn-more:hover {
  color: #bfa216;
}

.projects-clean .item:hover {
  filter: saturate(100%);
  transition-duration: 1s;
}

.formminihead {
  margin-bottom: 0px;
  margin-top: 10px;
}

#navcol-1 {
  z-index: 99999999;
}

.referans {
  filter: saturate(0%);
  transition-duration: 0.7s;
  margin-top: 1.5rem;
}

.referans:hover {
  filter: saturate(100%);
  transition-duration: 0.7s;
}

.referans.siyah {
  background-color: rgba(0,0,0,0.1);
}

.referans.beyaz {
  background-color: rgba(255,255,255,0.4);
}

