.simple-slider .swiper-slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.simple-slider .swiper-button-next, .simple-slider .swiper-button-prev {
  width: 50px;
  margin-left: 0px;
  margin-right: 0px;
  z-index: 9999;
  color: rgba(255,255,255,0.57);
}

@media (max-width:767px) {
  .simple-slider .swiper-button-next, .simple-slider .swiper-button-prev {
  }
}

@media (max-width:767px) {
  .simple-slider .swiper-slide {
    height: 360px;
  }
}

.swiper-slide {
}

.iletisim a {
  text-decoration: none;
  color: #ffffff;
}

.iletisim .icon {
  font-size: 1.6rem;
  color: #eac61c;
}

.iletisim p {
  margin-bottom: 1.5rem;
}

.socialsicon .icon {
  color: rgb(176,176,176);
  margin-right: 1rem;
}

@media (max-width: 767px) {
  .iletisimparagraph {
    font-size: 0.8rem;
  }
}

@media (min-width: 768px) {
  .iletisimparagraph {
    font-size: 1rem;
  }
}

.iletisimlink {
}

@media (max-width: 768px) {
  .navicon {
    margin-right: 21px;
  }
}

@media (min-width: 768px) {
  .navicon {
    margin: 0px;
  }
}

