.homesec {
  text-align: center;
  margin-top: 15px!important;
  margin: auto;
  position: relative;
  z-index: 1;
  box-shadow: 0px 20px 20px rgba(33,37,41,0.1);
  background: url("../../assets/img/bg.webp") center / cover, #e4e5e7;
}

.blinking {
  font-size: 70px;
  animation: blinkingText 1.2s infinite;
}

.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
  font-size: 70px;
}

.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
  color: rgb(236,196,28);
}

.blc {
  font-size: 70px;
}

.cd-words-wrapper b.is-visible {
  position: relative;
}

.cd-headline.clip span {
  display: inline-block;
  padding: .2em 0;
}

.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
}

.cd-headline.clip b {
  opacity: 0;
}

.cd-headline b.is-visible {
  opacity: 1;
  font-weight: 900;
}

.is-visible, .blc {
  color: gery;
}

.animated-text {
  transform: scale(0.5);
}

@media (min-width: 768px) {
  .animated-text {
    transform: scale(1.2);
  }
}

@media (max-width: 576px) {
  .animated-text {
    transform: scale(0.3);
    white-space: nowrap;
  }
}

.noSelect {
  pointer-events: none;
}

.cover {
  z-index: 1;
}

.navbar-dark .navbar-nav .nav-link {
  color: #262626;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: rgb(234,198,28);
}

.accordion-button:not(.collapsed) {
  color: #eac61c;
  background-color: #e7f1ff;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
}

.footer-basic {
  background-color: #ffffff;
  margin: auto;
  border-radius: 15px 15px 0px 0px;
  padding-top: 20px;
  margin-top: 4.5rem;
  color: #ffffff;
  box-shadow: 0px 20px 20px rgba(33,37,41,0.1);
  padding-bottom: 50px;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 8px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 5px;
  text-align: center;
  font-size: 13px;
  color: #262626;
  margin-bottom: 0;
}

.hevalnergiz {
  text-decoration: none;
  color: #eac61c;
  font-weight: 800;
}

.hevalnergiz:hover {
  color: #d2a900;
}

.footer-basic ul a {
  font-size: .9rem;
}

.footer-basic .icon {
  font-size: 1.5rem;
}

.navbar .icon {
  font-size: 1.5rem;
}

.nav-link {
  font-weight: 600;
}

@media (min-width: 768px) {
  .navitem1-2 {
    border-width: 0 3px 0 0;
    border-color: #eac61c;
    border-style: solid;
  }
}

.nav-item {
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .navitem1-2 {
    border: none;
  }
}

@media (min-width: 768px) {
  .accordion-1 {
    max-width: 60%;
  }
}

@media (max-width: 768px) {
  .accordion-1 {
    max-width: 90%;
  }
}

.accordion-1 {
  margin-top: 1.5rem;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 .1rem;
}

.iletisim a {
  text-decoration: none;
  color: #232323;
}

.iletisim .icon {
  font-size: 1.6rem;
  color: #232323;
}

.socialsicon .icon {
  margin-right: 1rem;
}

@media (max-width: 767px) {
  .iletisimparagraph {
    font-size: 0.8rem;
  }
}

@media (min-width: 768px) {
  .iletisimparagraph {
    font-size: 1rem;
  }
}

.iletisimlink {
}

@media (max-width: 768px) {
  .navicon {
    margin-right: 21px;
  }
}

@media (min-width: 768px) {
  .navicon {
    margin: 0px;
  }
}

.iletisimbaslik {
  margin: 1rem;
  color: #eac61c;
  font-family: 'Bebas Neue', serif;
  text-shadow: 0px 10px 10px rgba(0,0,0,0.2);
  letter-spacing: 4px;
}

.iletisimparagraph {
  margin-bottom: 1.5rem;
  font-weight: 600;
  color: #262626;
}

.iletisim p {
  font-weight: 600;
}

@media (min-width: 768px) {
  .minikyazi {
    max-width: 60%;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .minikyazi {
    max-width: 100%;
    text-align: center;
  }
}

.form-control:focus {
  color: #212529;
  background-color: rgba(255,255,255,0.5);
  border-color: #eac61c;
  outline: 0;
  box-shadow: 0 0 0 .1rem rgb(234,198,28);
}

.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: rgba(255,255,255,0.5);
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin: 5px 0px;
}

.send {
  background-color: #eac61c;
  border: none;
}

.send:hover, .send:focus, .send:active, .send:checked {
  background-color: #bfa216;
  border: none;
  box-shadow: none;
}

.eapps-link {
  display: none!important;
  z-index: -9999999;
  position: fixed;
}

@media (min-width: 768px) {
  .referanslar {
    margin-top: 50px;
  }
}

@media (max-width: 768px) {
  .referanslar {
    margin-top: 44px;
  }
}

